a {
  text-decoration: none; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  max-width: 1920px !important;
  margin: auto; }

.no-scroll {
  overflow-y: hidden; }

.white-back {
  background: white; }

@-webkit-keyframes slideup {
  100% {
    height: 0px;
    opacity: 0; }
  0% {
    height: -webkit-calc(100vh - 100px);
    height: calc(100vh - 100px);
    opacity: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex; } }

@keyframes slideup {
  100% {
    height: 0px;
    opacity: 0; }
  0% {
    height: -webkit-calc(100vh - 100px);
    height: calc(100vh - 100px);
    opacity: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; } }

@-webkit-keyframes slidedown {
  100% {
    height: -webkit-calc(100vh - 100px);
    height: calc(100vh - 100px);
    opacity: 1; }
  0% {
    height: 0px;
    opacity: 0; } }

@keyframes slidedown {
  100% {
    height: -webkit-calc(100vh - 100px);
    height: calc(100vh - 100px);
    opacity: 1; }
  0% {
    height: 0px;
    opacity: 0; } }

@-webkit-keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes fadeOut {
  100% {
    opacity: 0; }
  0% {
    opacity: 1; } }

@keyframes fadeOut {
  100% {
    opacity: 0; }
  0% {
    opacity: 1; } }

@-webkit-keyframes hide {
  0% {
    height: 520px; }
  100% {
    height: 0; } }

@keyframes hide {
  0% {
    height: 520px; }
  100% {
    height: 0; } }

@-webkit-keyframes antihide {
  100% {
    height: 520px; }
  0% {
    height: 0; } }

@keyframes antihide {
  100% {
    height: 520px; }
  0% {
    height: 0; } }

.hidden {
  -webkit-animation: hide 1.5s ease-out;
          animation: hide 1.5s ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

.notHidden {
  -webkit-animation: antihide 1.5s ease-in;
          animation: antihide 1.5s ease-in;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

.fade {
  -webkit-animation: fade .5s ease-in .5s;
          animation: fade .5s ease-in .5s; }

.fadeOut {
  -webkit-animation: fadeOut .2s ease-in;
          animation: fadeOut .2s ease-in; }

.slidedown {
  -webkit-animation: slidedown 0.5s ease-in !important;
          animation: slidedown 0.5s ease-in !important;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: -webkit-calc(100vh - 100px);
  height: calc(100vh - 100px); }

.slideup {
  -webkit-animation: slideup 0.5s ease-out !important;
          animation: slideup 0.5s ease-out !important; }

.padding {
  padding-right: 14px; }

.white-background {
  background: white; }

.black-color {
  color: black !important; }

.no-overflow {
  overflow-y: hidden; }

.container {
  max-width: 1920px; }

.h2 {
  font-family: 'Bebas Neue';
  font-size: 70px;
  color: #FF3754;
  text-transform: uppercase; }
  @media screen and (max-width: 670px) {
    .h2 {
      font-size: 40px; } }

@media screen and (max-width: 670px) {
  .h3 {
    font-size: 30px !important; } }

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row; }

.flex {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important; }

.visible {
  opacity: 1 !important;
  visibility: visible !important; }

.mobile {
  display: none; }
  @media (max-width: 640px) {
    .mobile {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; } }
