.third-screen {
  padding: 150px 88px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FDF4F4), to(#ECF3EC));
  background: -o-linear-gradient(top, #FDF4F4 0%, #ECF3EC 100%);
  background: linear-gradient(180deg, #FDF4F4 0%, #ECF3EC 100%); }
  @media (max-width: 640px) {
    .third-screen {
      padding: 150px 10px; } }

.news {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-top: 61px; }
  .news__item {
    margin-top: 15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 400px; }
    .news__item .photo {
      height: auto;
      width: 100%;
      -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
              box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s;
      cursor: pointer; }
      .news__item .photo img {
        height: 100%;
        width: 100%; }
      .news__item .photo:hover {
        -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.35);
                box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.35); }
    .news__item .text__title {
      margin-top: 26px;
      font-family: "Museo Sans Cyrl 300";
      font-size: 18px;
      color: #303030;
      font-weight: 700; }
    .news__item .text__description {
      font-family: "Museo Sans Cyrl 300";
      font-size: 18px;
      color: #303030;
      margin-top: 10px;
      line-height: 160%; }
